
<!-- <div  *ngIf="isloading" style="text-align: center;margin-top: 30px;"> 
  <app-spinner></app-spinner> 
</div> 

<div class="row" [hidden]="isloading">
  <div class="addcity">
  <button class="btn btn-success" (click)="onaddcity()">{{addcity?'Cancel':'Add City'}}</button>
  </div>
</div>
<div class="row" [hidden]="isloading">
    <div class="column">
        <h3 *ngIf="!selectedcity">Select a city to display the flights going in the city</h3>
        <ul class="cities">
            <li *ngFor="let city of cities"
            (click)="onSelect(city)" [class.selected]="city === selectedcity">
               {{city.cityname}}
            </li>
          </ul>
           
    </div>
    <div class="column col">
        <h3>Flights going in the city:</h3>
        <mat-selection-list #shoes [multiple]="false">
          <mat-list-option *ngFor="let flight of flights" [value]="flight" (click)="onselect(flight)">
            FlightNumber:{{flight.flightnumber}}<br>
               
          </mat-list-option><br>
        </mat-selection-list>
        
    
    </div>
</div>

  <div class="cityadd" [hidden]="!addcity" >
    <form  #f="ngForm" (ngSubmit)="onSubmit(f)">
      <label for="Enter the name of the city to be added"></label>
      
      <input type="text" id="city" name="city" pattern="/^[a-z]+$/i" ngModel required>
    
   
      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Add</button>  

    </form>
  </div>  -->
<div class="row">
  <div class="addcity">
    <button class="btn btn-success" (click)="onaddcity()">{{addcity?'Cancel':'Add City'}}</button>
    </div>
</div>
<div class="row">
  <div class="column">
<app-citieslist></app-citieslist>
  </div>
  <div class="column" >
    <app-flightformcity></app-flightformcity>
  </div>
</div>
<div class="cityadd" *ngIf="addcity">
  <form  #f="ngForm" (ngSubmit)="onSubmit(f)">
    <label for="Enter the name of the city to be added"></label>
    
    <input type="text" id="city" name="city" pattern="[a-zA-Z ]*$" ngModel required>
  
 
    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Add</button>  

  </form>
</div> 